.checkProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkProduct_info {
    padding-left: 20px;

}

.checkProduct_info > button {
    background: #FAD700;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkProduct_image {
    width: 180px;
    height: 180px;
}

