.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

/* The new icons at the end pf the header bar */
.fb_iconset {
  color: rgb(255, 255, 255);
  margin: 0 4px;
  transition: transform 0.3s ease;
  font-size: 44px;
}
.fb_iconset:hover {
  transform: scale(1.1);
}

.style_btn {
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin: 0 4px;
  transition: transform 0.3s ease;
  text-decoration: none; 
  padding: 7px 7px;
}
.style_btn:hover {
  transform: scale (1.1);
}
/* End of this section */


.header-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative; /* Needed for the ::after pseudo-element to be positioned relative to this div */
}

.header-section::after {
  content: "";
  display: block;
  width: 1px;
  height: 200%;
  background-color: grey;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.header-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-mainicon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.header-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.header-lasticons {
  display: flex;
  align-items: center;

}

.header-iconset {
  color: #FAD700;
  background-color: #FAD700;
  padding: 10px;
  margin: 0 5px;
  transition: transform 0.3s ease;
  border-radius: 15px;
}

.header-iconset:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-section {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .header-lasticons {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .header-font {
    font-size: 12px;
  }

  .header-lasticons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    height: 16px;
    width: 16px;
    margin-right: 5px;
  }
}

.header-iconset {
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}









